
//create dynamic border

@mixin border($brdWidth,$color) {
    border:  $brdWidth solid $color;
}

// create responsive font size 

@mixin fontSize($width) {
    @if($width == "large"){
        .logo-text{
            font-size: 64px;
        }
        .section_title{
            font-size: 48px;
        }
        .section_subtitle{
            font-size: 34px;
        }
    }
    @else if($width == "medium"){
        .logo-text{
            font-size: 48px;
        }
        .section_title{
            font-size: 34px;
        }
        .section_subtitle{
            font-size: 26px;
        }
    }
    @else{
        .logo-text{
            font-size: 30px;
        }
        .section_title{
            font-size: 24px;
        }
        .section_subtitle{
            font-size: 18px;
        }
    }
}

//create dynamic theme

@mixin theme($property,$light,$dark){
    @if($current-theme == "light"){
        #{$property} : $light;
    }
    @else{
        #{$property} : $dark;
    }
}

//background dynamic theme

@mixin background($url){
    width:100%;
    height: auto;
    background: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}