

/*=============== COLOR CODES===================*/

    $current-theme : light  !default;
    
    $dark-color : #fff;

    $dark-bg : #131212;
    $light-bg : #faf5f5;

    $link-light-active : #31b473;
    $link-light : #363636;
    $border-light : #e0dcdc; 
    
    $hero_details : rgba(0, 0, 0,.4);

/*=============== FONT SIZE ===================*/

    $normal-size : 16px;
    $small-size : 14px;
    $extra-small : 12px;


/*=============== FONT FAMILY ===================*/
