
// @forward  "veriables";
/*=============== COLOR CODES===================*/

    
    $light : #fff;
    $dark: #131212;

    $link-active : #31b473;
    $dark-fade : #363636;
    $border-light : #e0dcdc; 
    
    $hero_details : rgba(0, 0, 0,.4);

/*=============== FONT SIZE ===================*/

    $normal-size : 16px;
    $small-size : 14px;
    $extra-small : 12px;


/*=============== FONT FAMILY ===================*/
